.container {
  max-width: 30%;
  min-width: 25%;
  margin: 5px;
  padding: 10px;
  border-radius: 6px;
}

.input,
textarea,
button {
  width: 200px;
  height: 50px;
  box-sizing: border-box;
  margin: 5px;
  padding: 10px;
}
