<div [ngClass]="{ odd: index % 2 === 0, even: index % 2 !== 0 }" *ngIf="news">
  <h1 class>{{ news.title }}</h1>
  <img src="{{ news.imageUrl }}" width="560" height="400" />
  <div class="cont">
    <span class="vote" (click)="voteUp()">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQEHmx9xYcUKcyLPG6azUs7Yv5WF0rEKy4KWkNzdnz-pI4qr1U&s"
      />
    </span>
    <span class="vote" (click)="voteDown()">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZt_ZKfX_V624XABASW4eDRERNviW4WcEixigh6eVMR8bysTRMQw&s"
      />
    </span>
    <p class="vote">{{ news.votes }}</p>
    <span class="vote" (click)="remove()">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSut7_QWZET-yzlxRiwxqSaW_E3n_bCJxjvYOp_9WB-9SXOiRYvdQ&s"
      />
    </span>
  </div>
  <br />
  {{ news.content }}
  <br />
</div>
