.news-item {
  border: 1px solid gray;
  border-radius: 2px;
  margin: 10px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr;
  grid-gap: 5px 5px;
}
.odd {
  background-color: #fff0f8;
  border: 1px solid gray;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 5px;
}

.even {
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 5px;
}

.title {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 7;
  font-size: 16px;
}

.content {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 8;
}

.imageUrl {
  width: 500px;
  height: auto;
  overflow: hidden;
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 4;
  margin: 10px;
  padding: 5px;
}

.vote {
  font-size: 20px;
  margin: 0 5px;
}
.vote img {
  width: 30px;
}
